<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" type="text/css" href="https://static.keen.io/assets/keen-fonts.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body class="dev-body">
  <div id="root"></div>
</body>
<script type="text/javascript">
   new KeenPublicDashboard({
     container: '#root',
     dashboardId: '8a6c16ad-b01b-463a-bd11-76eb929165fe',
     backend: {
       analyticsApiUrl: 'staging-api.keen.io',
       dashboardsApiUrl: 'https://blob-service.us-west-2.test.aws.keen.io',
     },
     project: <%= config %>,
   }).render();
  </script>
</html>
